.button {
  text-decoration: none;
  background-color: #2E844A;
  padding: 8px 24px;
  color: white;
  border-radius: 4px;
  font-weight: 700;
}

@media(min-width:375px) {
  .button {
    font-size: 14px;
    padding: 6px 15px;
  }
}

@media(min-width:1200px) {
  .button {
    padding: 8px 24px;
  }
} 


