.form {
  background-color: #e4e4e4;
  padding: 50px 40px 40px 40px;
  display: flex;
  flex-direction: column;
}

.box-login {
  background-color: white;
  border: 1px solid black;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.box-login>img {
  width: 20px;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
}

::placeholder {
  font-size: 16px;
}

.inputs {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.checkbox {
  display: flex;
  gap: 10px;
}

.checkbox>input {
  width: auto;
}

@media(min-width:375px) {
  .form {
    padding: 60px 20px 60px 20px;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    gap: 40px;
  }

  .box-login {
    padding: 15px 0;
    margin-bottom: 15px;
  }

  .box-login>p {
    font-size: 14px;
  }
}

@media(min-width:768px) {
  .form {
    border-radius: 0;
    box-shadow: none;
  }
}

@media(min-width:1200px) {
  .form {
    padding: 50px 40px 40px 40px;
    gap: 50px;
  }

  .box-login {
    padding: 20px 0;
    margin-bottom: 20px;
  }
}