.artigo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.ball-artigo {
  width: 70%;
  justify-content: center;
}
.ball-artigo > div {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ball-artigo  p {
  color: #032D60;
}


@media (min-width:375px) {
  .artigo {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .ball-artigo {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media(min-width:768px){
  .artigo {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .row-artigo {
    flex-wrap: nowrap;
    gap: 20px;
  }
}

@media (min-width: 1200px){
  .artigo {
    flex-direction: row;
  }
  .row-artigo {
    flex-wrap: nowrap;
    gap: 20px;
  }
}

.row-artigo > div{
  width: 80%;
}

.row-artigo h1 {
  font-size: 25px;
  text-align: left;
}