.section-history {
    display: grid;
    gap: 30px;
}

@media(min-width:375px) {
    .page-form .form {
        grid-area: 5/1/6/1;
    }
}

@media(min-width:768px) {
    .page-form .row-article {
        grid-column: span 2;
    }

    .page-form .form {
        grid-area: 2/2/7/2;
        align-self: self-start;
    }
}

@media(min-width:1200px) {
    .page-form .form {
        grid-area: 1/2/5/2;
        align-self: self-start;
        margin-left: 125px;
    }

    .page-form .row-article {
        grid-area: 1/1/2/1;
    }
}