@font-face {
  font-family:'ITC Avant' ;
  src: url('../../../avant-garde-gothic-2-medium.otf') format('truetype');
}


.titulo {
  text-align: center;
  font-size: 40px;
  max-width: 1000px;
  color: rgb(3 45 96);
  letter-spacing: -0.128px;
  line-height:40px;
  font-family: "ITC Avant", sans-serif;
  font-weight: 600;
  overflow-y: hidden;
}